.project 
.pydevproject 
.settings/ 
__pycache__/ 
bassplayer_sound/ 
cut_filename.py 
f_byte 
free_sounds/ 
free_sounds2/ 
freesound_med/
gustavklopp.github.io/ 
pythonpiano_data2/ 
pythonpiano_data_16bits/ 
pythonpiano_data_ogg/ 
test_import.py 
which_keyboard_key.py 
which_keyboard_key2.py 
typewriter.kb
python_computerpiano.py
pictures_all/
